<style type="text/css">
<!--
.STYLE1 {color: #000000}
-->
</style>
<section class="thirteen columns">
    <h1>About Me </h1>
    <article>
      <header></header>
      <p align="justify">I just join Tianjin University as a lectuer at the School  of Computer Science and Technology. Previously, I received the B.S. degree and M.Sc. degree from Heilongjiang University in 2011 and 2014, and the Ph.D. degree from Dalian University of Technology under the supervision of Prof.<span class="STYLE1"><a href="http://www.peihuali.org/">Peihua Li</a></span> in 2018. My research is on computer vision and  pattern recognition, particularly visual classification and deep probability distribution modeling.</p>
    </article>
</section>
