<section class="thirteen columns">
  <h1>Academic Service </h1>
    <article>
      <header>
        <p><strong>Journal Reviewer</strong></p>
        <p>IEEE Transactions on Neural Networks and Learning  Systems </p>
        <p>IEEE Transactions on Image Processing</p>
        <p>IEEE Transactions on Circuits and Systems for Video Technology</p>
        <p>IEEE Transactions on Multimedia</p>
        <p>Pattern Recognition</p>
        <p><br />
        <strong>Conference Reviewer</strong><br />
        </p>
        <p>IEEE International Conference on Computer Vision, 2019 </p>
        <p>IEEE Conference on Computer Vision and Pattern Recognition, 2019 </p>
        The Thirty-Third AAAI Conference on Artificial Intelligence, (AAAI-19)
        <p>Asian Conference on Computer Vision, 2018</p>
        <p>IEEE Conference on Computer Vision and Pattern Recognition, 2018</p>
        <p>International Joint Conference on Artificial Intelligence, 2018</p>
        <p>Asian Conference on Computer Vision, 2016</p>
      </header>
    </article>
  <article></article>
</section>
