<section class="thirteen columns">
  <h1>Academic Service </h1>
    <article>
      <header>
        <p><strong>Journal Reviewer</strong></p>
        <p>IEEE Transactions on Neural Networks and Learning  Systems </p>
        <p>IEEE Transactions on Image Processing</p>
        <p>IEEE Transactions on Circuits and Systems for Video Technology</p>
        <p>IEEE Transactions on Multimedia</p>
        <p>Pattern Recognition</p>
        <p><br />
        <strong>Conference Reviewer</strong><br />
        </p>
        <p>CVPR 2018-2021, ICLR 2020, NeurIPS 2020, ECCV 2020, ICCV 2019, ACCV 2016-2020 </p>
        <p>PC for AAAI 2019-2021, IJCAI 2019 2020</p>
        <p>SPC for IJCAI 2021</p>
        <p>
        <article></article>
        </p>
      </header>
    </article>
</section>
