<style type="text/css">
<!--
.STYLE13 {	color: #FF0000;
	font-style: italic;
}
.STYLE15 {color: #FF0000; font-style: italic; font-weight: bold; }
a:link {
	color: #0099FF;
}
a:visited {
	color: #0099FF;
}
-->
</style>
<section class="thirteen columns">
    <article>
      <header><h1>
        <section class="thirteen columns">
          <h1>
            <article>
              <header></header>
            </article>
          Selected Publications (<a href="https://scholar.google.com/citations?user=qdPVJN0AAAAJ&amp;hl=zh-CN">Google Scholar</a>,<a href="https://dblp.uni-trier.de/pers/w/Wang:Qilong.html">DBLP</a>) </h1>
        </section></h1>
  </header>
    </article>
    <section class="thirteen columns">
      <article>
        <header></header>
        <p align="justify"><strong>Journal Papers</strong></p>
        <ol>
          <li><div align="justify"><div align="justify">
            <div align="justify">
                  <div align="justify"><strong>Qilong Wang</strong>, Jiangtao Xie, Wangmeng Zuo,  Lei Zhang and 
                    Peihua Li.  Deep CNNs Meet Global Covariance Pooling:
                    Better Representation and Generalization. <strong>IEEE</strong> <strong>T-PAMI</strong>, 2020 (Accept). [PDF and code are coming soon.][<a href="https://arxiv.org/abs/1904.06836?context=cs.CV">arXiv</a>]</div>
            </div>
              </div>
            </div>
          </li>
          <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">Peihua Li, <strong>Qilong Wang</strong>, Hui Zeng and Lei Zhang.  Local Log-Euclidean Multivariate Gaussian Descriptor and Its Application to  Image Classification. <strong>IEEE</strong> <strong>T-PAMI</strong> 39(4): 803-817, 2017. [<a href="http://www.peihuali.org/publications/L2EMG/TPAMI_L2EMG.pdf">PDF</a>] [<a href="http://www.peihuali.org/publications/L2EMG/PAMI_ReleaseCodes_fin_v0.zip">Code</a>]</div>
              </div>
            </div>
          </li>
          <li><div align="justify">
            <div align="justify"><strong>Qilong Wang</strong>,  Xiaoxiao Lu, Peihua Li, Zhenguo Gao, Yongri Piao. An Information Geometry Based  Distance between High-dimensional Covariances for Scalable Classification. <strong>IEEE T-CSVT</strong> 28(10): 2449<span _ngcontent-c10="">-2459</span>, 2018. [<a href="https://ieeexplore.ieee.org/document/7942127/">PDF</a>] </div>
          </div>
          </li>
          <li><div align="justify">
            <div align="justify">Peihua  Li, Hui Zeng, <strong>Qilong Wang</strong>, Simon C.  K. Shiu, Lei Zhang. High-order Local Pooling and Encoding Gaussians over A  Dictionary of Gaussians. <strong>IEEE T-IP</strong> 26(7): 3372<span _ngcontent-c10="">-3384</span>,  2017. [<a href="https://ieeexplore.ieee.org/document/7904668">PDF</a>] [<a href="http://www.peihuali.org/publications/HO-LP/HO-LP_Demo_FMD.zip">Code</a>] </div>
            </div>
          </li>
          <li><div align="justify">
            <div align="justify"><strong>Qilong Wang</strong>,  Peihua Li, Wangmeng Zuo, Lei Zhang. Towards Effective Codebookless Model for  Image Classification. <strong>Pattern  Recognition</strong> 59: 63-71, 2016. [<a href="http://www.peihuali.org/publications/PR-CLM/PR-CLM.pdf">PDF</a>] [<a href="http://www.peihuali.org/publications/PR-CLM/CLM_PR.zip">Code</a>] </div>
            </div>
          </li>
          <li><div align="justify">
            <div align="justify">Hua Hao, <strong>Qilong Wang</strong>, Peihua Li, Lei Zhang.  Evaluation of Ground Distances and Features in EMD-based GMM Matching for  Texture Classification. <strong>Pattern  Recognition</strong> 57: 152-163, 2016. [<a href="https://www.sciencedirect.com/science/article/pii/S0031320316000960">PDF</a>] </div>
            </div>
          </li>
        </ol>
        <p align="justify">&nbsp;</p>
        <p><strong>Conference Papers </strong></p>
        <ol>
          <li>
            <div align="justify">
              <div align="justify"><strong>Qilong Wang</strong>, Li Zhang, <span data-bind="text: fullName, style:{fontWeight: isPrimary ? 'bold' : ''}">Banggu Wu</span>, Dongwei Ren, Peihua Li, Wangmeng Zuo, Qinghua Hu. What Deep CNNs Benefit from Global Covariance Pooling: An Optimization Perspective. 33th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2020.[PDF][<a href="https://arxiv.org/abs/2003.11241">arXiv</a>][<a href="https://github.com/ZhangLi-CS/GCP_Optimization">Code</a>]</div>
            </div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>, <span data-bind="text: fullName, style:{fontWeight: isPrimary ? 'bold' : ''}">Banggu Wu,</span> Pengfei Zhu, Peihua Li, Wangmeng Zuo, Qinghua Hu. ECA-Net: Efficient Channel Attention for Deep Convolutional Neural Networks. 33th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2020.[PDF][<a href="https://arxiv.org/abs/1910.03151">arXiv</a>] [<a href="https://github.com/BangguWu/ECANet">Code</a>]</div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>, Peihua Li, Qinghua Hu, Pengfei Zhu, Wangmeng Zuo. Deep Global Generalized Gaussian Networks. 32th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2019.[<a href="http://openaccess.thecvf.com/content_CVPR_2019/papers/Wang_Deep_Global_Generalized_Gaussian_Networks_CVPR_2019_paper.pdf">PDF</a>] [<a href="https://github.com/csqlwang/3G-Net">Code</a>]</div>
          </li>
          <li>
            <div align="justify">Zilin Gao, Jiangtao Xie, <strong>Qilong Wang</strong>, Peihua Li. Global Second-order Pooling Convolutional Networks. 32th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2019.[<a href="http://openaccess.thecvf.com/content_CVPR_2019/papers/Gao_Global_Second-Order_Pooling_Convolutional_Networks_CVPR_2019_paper.pdf">PDF</a>][<a href="https://github.com/ZilinGao/Global-Second-order-Pooling-Convolutional-Networks?tdsourcetag=s_pctim_aiomsg">Code</a>]</div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>*, Zilin Gao*, Jiangtao Xie, Wangmeng Zuo, Peihua Li. Global Gated Mixture of Second-order Pooling for Improving Deep Convolutional Neural Networks. Thirty-second Conference on Neural Information Processing Systems (<strong>NeurIPS</strong>), 2018. [<a href="https://papers.nips.cc/paper/7403-global-gated-mixture-of-second-order-pooling-for-improving-deep-convolutional-neural-networks.pdf">PDF</a>][<a href="https://papers.nips.cc/paper/7403-global-gated-mixture-of-second-order-pooling-for-improving-deep-convolutional-neural-networks-supplemental.zip">Supplemental</a>][<a href="https://github.com/ZilinGao/GM-SOP">Code</a>] (*The first two authors contribute equally to this work.) </div>
          </li>
          <li>
            <div align="justify">Hao Wang, <strong>Qilong Wang</strong>, Mingqi Gao, Peihua Li,  Wangmeng Zuo. Multi-scale Location-aware Kernel Representation for Object  Detection. 31th IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018. [<a href="http://211.81.63.130/cloud/211.81.63.2/cache/1/03/openaccess.thecvf.com/09119e2f8ec5f17d8f708030a564df43/Wang_Multi-Scale_Location-Aware_Kernel_CVPR_2018_paper.pdf">PDF</a>][<a href="https://arxiv.org/abs/1804.00428">arXiv</a>] [<a href="https://github.com/Hwang64/MLKP">Code</a>] <em>(The first attempt to integrate  higher-order statistics into object detection task)</em></div>
          </li>
          <li>
            <div align="justify">Peihua Li, Jiangtao Xie, <strong>Qilong Wang</strong>, Zilin Gao. Towards Faster Training of Global  Covariance Pooling Networks by Iterative Matrix Square Root Normalization. 31th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018. [<a href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Li_Towards_Faster_Training_CVPR_2018_paper.pdf">PDF</a>][<a href="https://arxiv.org/abs/1712.01034">arXiv</a>] [<a href="https://github.com/jiangtaoxie/fast-MPN-COV/">Code</a>] <em>(Speed up training of covariance pooling networks)</em></div>
          </li>
          <li>
            <div align="justify"> Peihua  Li, Jiangtao Xie, <strong>Qilong Wang</strong>,  Wangmeng Zuo. Is Second-Order Information Helpful for Large-Scale Visual  Recognition? 16th IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2017. [<a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Li_Is_Second-Order_Information_ICCV_2017_paper.pdf">PDF</a>] [<a href="https://github.com/jiangtaoxie/MPN-COV-ConvNet">Code</a>] <em>(The  work shows  matrix power normalized covariance pooling is very effective on large-scale classification task.)</em></div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>,  Peihua Li, Lei Zhang. G2DeNet: Global Gaussian Distribution  Embedding Network and Its Application to Visual Recognition. 30th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017. (<span class="STYLE15">Oral</span>, acceptance  rate: <strong>2.65%</strong>) [<a href="http://openaccess.thecvf.com/content_cvpr_2017/papers/Wang_G2DeNet_Global_Gaussian_CVPR_2017_paper.pdf">PDF</a>] [<a href="http://www.peihuali.org/publications/G2DeNet/G2DeNet-FGVC-v1.0.zip">Code</a>] <em>(Embedding  a global trainable Gaussian distribution (square root SPD matrix) into deep  CNNs, obtaining state-of-the-art results on FGVC task.)</em></div>
          </li>
          <li>
            <div align="justify">Hongliang  Yan, Yukang Ding, Peihua Li, <strong>Qilong Wang</strong>,  Yong Xu, Wangmeng Zuo. Mind the Class Weight Bias: Weighted Maximum Mean  Discrepancy for Unsupervised Domain Adaptation. 30th IEEE Conference  on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017. [<a href="http://openaccess.thecvf.com/content_cvpr_2017/papers/Yan_Mind_the_Class_CVPR_2017_paper.pdf">PDF</a>] [<a href="https://github.com/yhldhit/WMMD-Caffe">Code</a>]</div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>,  Peihua Li, Wangmeng Zuo, Lei Zhang. RAID-G: Robust Estimation of Approximate  Infinite Dimensional Gaussian with Application to Material Recognition. 29th  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2016. [<a href="http://openaccess.thecvf.com/content_cvpr_2016/papers/Wang_RAID-G_Robust_Estimation_CVPR_2016_paper.pdf">PDF</a>] [<a href="http://www.peihuali.org/publications/RAID-G/RIAD-G_V1.zip">Code</a>] <em>(A  Gaussian descriptor with robust covariance estimation, achieving state-of-the-art results on texture classification task.)</em></div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>,  Xiaona Deng, Peihua Li, Lei Zhang. Ask the Dictionary: Soft-Assignment  Location-Orientation Pooling for Image Classification. 22th International  Conference on Image Processing (<strong>ICIP</strong>),  2015.<span class="STYLE13"> (Best 10% Paper Award)</span> [<a href="https://ieeexplore.ieee.org/document/7351672/">PDF</a>]</div>
          </li>
          <li>
            <div align="justify">Peihua Li,  Xiaoxiao Lu, <strong>Qilong Wang</strong>. From  Dictionary of Visual Words to Subspaces: Locality-constrained Affine Subspace  Coding. 28th IEEE Conference on Computer Vision and Pattern  Recognition (<strong>CVPR</strong>), 2015. [<a href="http://www.peihuali.org/publications/LASC/project_cvpr15.htm">Project Page</a>]</div>
          </li>
          <li>
            <div align="justify"><strong>Qilong Wang</strong>,&nbsp;Wangmeng  Zuo,&nbsp;Lei Zhang,&nbsp;Peihua Li.  Shrinkage Expansion Adaptive Metric Learning. 13th European  Conference on Computer Vision (<strong>ECCV</strong>), 2014. [<a href="http://www.peihuali.org/publications/SEAML/SEAML_eccv14.pdf">PDF</a>] [<a href="http://www.peihuali.org/publications/SEAML/SEAML.zip">Code</a>]</div>
          </li>
          <li>
            <div align="justify">Peihua  Li, <strong>Qilong Wang</strong>, Lei Zhang. A Novel  Earth Mover's Distance Methodology for Image Matching with Gaussian Mixture  Models. 14th IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2013. [<a href="http://www.peihuali.org/publications/SR-EMD/SR-EMD.html">Project Page</a>]</div>
          </li>
          <li>
            <div align="justify">Peihua  Li, <strong>Qilong Wang</strong>, Wangmeng Zuo, Lei  Zhang. Log-Euclidean Kernels for Sparse Representation and Dictionary Learning.  14th IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2013. [<a href="http://www.peihuali.org/publications/LogEKernel/LogE-Kernel.html">Project Page</a>]</div>
          </li>
          <li>
            <div align="justify">Peihua  Li, <strong>Qilong Wang</strong>. Local Log-Euclidean  Covariance Matrix (L2ECM) for Image Representation and Its  Applications. 12th European Conference on Computer Vision (<strong>ECCV</strong>), 2012. [<a href="https://link.springer.com/chapter/10.1007%2F978-3-642-33712-3_34">PDF</a>] [<a href="http://www.peihuali.org/publications/L2ECM/L2ECM_demo.zip">Code</a>] </div>
          </li>
        </ol>
        <p>&nbsp;</p>
      </article>
    </section>
      