<style type="text/css">
<!--
.STYLE12 {font-weight: bold; color: #FF0000;}
.STYLE4 {	font-family: "Courier New", Courier, monospace;
	color: #0000FF;
	font-size: x-large;
}
.STYLE14 {
	font-family: "Courier New", Courier, monospace;
	color: #0000FF;
	font-size: x-large;
	font-weight: bold;
	font-style: italic;
}
-->
</style>
<section class="thirteen columns">
    <h1 class="STYLE4"><span class="STYLE14">Updates!</span>    </h1>
    <address>
    <p><em>[2020-02-27]
    Three papers are accepted to CVPR 2020.</em></p>
    <p><em>[2020-02-11]
      One paper is accepted to IEEE T-PAMI.</em></p>
    <p><em>[2019-03-03]
      Two papers are accepted to CVPR 2019. </em></p>
    <p><em>[2018-11-28]
      We organizded a Tutorial  in PRCV 2018, and PPT can be download <a href="http://www.peihuali.org/HOCNN-tutorial/index.html">Here</a>.</em></p>
    <p><em>[2018-09-05]
      One paper is accepted to NIPS 2018. </em></p>
    <p><em>[2018-05-21]
      Two papers are accepted to IJCAI 2018. </em></p>
    <p><em>[2018-05-15]
    I am supported by program for Post-doctoral Innovative Talents.</em></p>
    </address>
    <address>
    <p><span><em> [2018-02-19]
      Two papers are accepted to CVPR 2018. </em> </span>
    </p>
    </address>
    <address>
    <p><span><em> [2017-07-17]
      One paper is accepted to ICCV 2017. </em> </span>
    </p>
    </address>
    <address>
    <p><em> [2017-03-18]
      Two papers are accepted to CVPR 2017.
      One of them was selected for<span class="STYLE12"> oral</span> presentation (~2.65% acceptance rate).</em>
    </p>
    </address>
    <h1>
      <article></article> </section>
    </h1>
